.zagl{
    text-align: center;
    font-size: 2.7em;
}
.marafon{
    font-size: 1.7em;
}
.plushki{
    font-size: 1.7em;
}
.three{
    height: 438px;
    width: 245px;
}
.ten{
    height: 438px;
    width: 245px;
}
.twentyFive{
    height: 438px;
    width: 245px;
}
.fifty{
    height: 438px;
    width: 245px;
}
.oneHundred{
    height: 438px;
    width: 245px;
}
.twoHundred{
    height: 438px;
    width: 245px;
}
.threeHundred{
    height: 438px;
    width: 245px;
}
.list{

 }
.prise{
    font-size: 1.2em;
}