.type{
    font-size: 1.5em;
}
.column {
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
    padding: 0 16px;
}
.row{
    display: flex;
    flex-direction: row;
}
.elena{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gomon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.zagolovok{
    text-align: center;
}
.ab{
    text-align: center;
    font-size: 2.7em;
}