.index{
    display: flex;
    flex-flow: column nowrap;
    background-image: url("https://img.freepik.com/premium-photo/canvas-backdrop-canvas-texture-pastel-paint-stains-pink-light-blue-colours-ai-generative-background_651171-1721.jpg?w=996");
    font-family: Elephant;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}